<div class="sy-container sy-main">
    <div class="sy-dashboard-copy">
        <p class="sy-updating">UPDATED Tuesday December 1 2015</p>
        <h2 class="sy-dashboard-copy__header">
            <span class="sy-period js-period">In the last week</span>
            <span class="sy-strike js-syria-total">1234</span> airstrikes in Syria,<br />
            <span class="sy-strike js-iraq-total">5678</span> in Iraq
        </h2>
        <div class="sy-timeline js-timeline">
            {{~it.counts :count:i}}
                <span class="sy-timeline__day" style="width: {{=100 / it.counts.length}}%; height: {{=count/it.countMax * 100}}%"></span>
            {{~}}
            <span class="sy-timeline__window js-timeline-window" style="width:{{=100 / it.counts.length * 7}}%"></span>
        </div>
    </div>
    <div class="sy-dashboard-map">
        <div class="sy-dashboard-map__bg">
            {{~it.cities :city}}
                <span class="sy-dashboard-map__bg__lbl" style="left: {{=city.coord[0]}}%; top: {{=city.coord[1]}}%">
                    {{=city.name}}
                </span>
            {{~}}
        </div>
        <canvas class="sy-dashboard-map__strikes js-dashboard-strikes" width="650" height="500"></canvas>
        <p class="sy-dashboard-map__source">Data from US Department of Defense</p>
    </div>
    <div class="sy-analysis-container js-analysis">
        <div class="sy-analysis">
            <h4 class="sy-analysis__header">What's the current situation?</h4>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis id porttitor nibh.
                Integer feugiat vehicula dignissim. Sed sodales mattis lacus. Etiam a sollicitudin quam.
                Nullam ac ante ac nulla efficitur maximus et et leo. Donec aliquet, nulla ac semper
                ullamcorper.
            </p>
        </div>
        <div class="sy-analysis">
            <h4 class="sy-analysis__header">What do we know about the UK's involvement?</h4>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis id porttitor nibh.
                Integer feugiat vehicula dignissim. Sed sodales mattis lacus. Etiam a sollicitudin quam.
                Nullam ac ante ac nulla efficitur maximus et et leo. Donec aliquet, nulla ac semper
                ullamcorper.
            </p>
        </div>
    </div>
</div>
