<div class="sy-container sy-main">
    <div class="sy-dashboard-copy">
        <p class="sy-updating">UPDATED Tuesday 1 December 2015</p>
        <h2 class="sy-header">
            <span class="sy-period js-period"></span>
            <span class="sy-strike sy-strike--syria js-syria-total"></span> airstrikes in Syria,<br />
            <span class="sy-strike sy-strike--iraq js-iraq-total"></span> in Iraq
        </h2>
        <div class="sy-timeline js-timeline">
            {{~it.timeline.counts :count:i}}
                <span class="sy-timeline__day" style="width: {{=100 / it.countLen}}%">
                    <div class="sy-timeline__day__country is-iraq" style="height: {{=count.iraq/it.countMax * it.timelineHeight}}px"></div>
                    <div class="sy-timeline__day__country is-syria" style="height: {{=count.syria/it.countMax * it.timelineHeight}}px"></div>
                </span>
            {{~}}
            <span class="sy-timeline__window js-timeline-window" style="width: {{=100 / it.countLen * it.windowSize}}%"></span>
        </div>
        <div class="sy-timeline-labels">
            {{~it.timeline.labels :label}}
                <span class="sy-timeline-labels__lbl" style="left: {{=label.pos * 100 / it.countLen}}%">{{=label.month}}</span>
            {{~}}
        </div>
    </div>
    <div class="sy-dashboard-map">
        <div class="sy-dashboard-map__bg"></div>
        <canvas class="sy-dashboard-map__strikes js-dashboard-strikes" width="650" height="500"></canvas>
        <ul class="sy-dashboard-map__labels">
            {{~it.locations :l}}
                <li class="sy-dashboard-map__labels__lbl is-style-{{=l.style}} is-anchor-{{=l.anchor}}"
                      style="top: {{=l.coord[1]}}%; {{=l.anchor}}: {{=l.coord[0]}}%">
                    {{=l.name}}
                </li>
            {{~}}
        </ul>
        <p class="sy-dashboard-map__source">Data from US Department of Defense</p>
    </div>
    <div class="sy-analysis-container js-analysis">
        <div class="sy-analysis">
            <h4 class="sy-analysis__header js-dashboard1-headline"></h4>
            <p class="js-dashboard1-copy"></p>
        </div>
        <div class="sy-analysis">
            <h4 class="sy-analysis__header js-dashboard2-headline"></h4>
            <p class="js-dashboard2-copy"></p>
        </div>
    </div>
</div>
