<div class="sy-container">
    <div class="sy-main">
        <h2 class="sy-header">This week</h2>
        <div class="sy-dashboard">
            <img class="sy-dashboard__bg" src="{{=it.assetPath}}data-out/dashboard/bg.png" />
            <canvas class="sy-dashboard__locations js-dashboard-locations" width="650" height="500"></canvas>
            <canvas class="sy-dashboard__strikes js-dashboard-strikes" width="650" height="500"></canvas>
        </div>
    </div>
    <div class="sy-timeline js-timeline">
        <span class="sy-timeline__window js-timeline-window" style="width:{{=100 / it.counts.length * 7}}%"></span>
        {{~it.counts :count:i}}
            <span class="sy-timeline__day" style="width: {{=100 / it.counts.length}}%; height: {{=count/it.countMax * 100}}%"></span>
        {{~}}
    </div>
</div>
