<ul class="sy-key-places">
    {{~it.locations :l}}
        <li class="sy-key-place">
            <h3 class="sy-key-place__name">{{=l.meta.name}}</h3>

            <div class="sy-key-place__timeline">
                <div class="sy-timeline">
                    {{~l.counts :count}}
                        <span class="sy-timeline__day sy-timeline__day__country is-syria"
                              style="width: {{=100 / it.countLen}}%; height: {{=count/it.countMax * it.timelineHeight}}px">
                        </span>
                    {{~}}
                    {{~it.labels :label}}
                        <span class="sy-timeline__lbl" style="left: {{=label.pos * 100 / it.countLen}}%">{{=label.month}}</span>
                    {{~}}
                </div>
                <div class="sy-control">
                    {{~l.controls :control}}
                        <span class="sy-control__period" style="left: {{=control.pos * 100 / it.countLen}}%">
                            {{~control.controllers: controller}}
                                <div class="sy-control__period__controller is-{{=controller.name}}"
                                     style="height: {{=controller.count / l.meta.areaCount * 100}}%">
                                 </div>
                            {{~}}
                        </span>
                    {{~}}
                </div>
            </div>
        </li>
    {{~}}
</ul>
