<div class="sy-map sy-key-map">
    <img src="{{=it.assetPath}}src/img/syria.png" />
    {{~it.locations :l}}
        <span class="sy-map__lbl is-anchor-right" style="top: {{=l.meta.coord[1]}}%; right: {{=l.meta.coord[0]}}%">
            {{=l.furniture.headline}}
        </span>
    {{~}}
</div>

<h3 class="sy-subheader sy-subheader--top">{{=it.past.placeheader}}</h3>
<p class="sy-copy sy-copy--intro">{{=it.past.placecopy}}</p>

<ul class="sy-key-places">
    {{~it.locations.reverse() :l:i}}
        <li class="sy-key-place">
            <h3 class="sy-key-place__name">{{=l.furniture.headline}}</h3>
            <div class="sy-key-place__text">
                <p class="sy-copy">{{=l.furniture.copy.replace('{x}', l.meta.total) }}</p>
            </div>

            <div class="sy-key-place__main">
                <div class="sy-key-place__timeline">
                    {{?!i}}
                        <span class="sy-key-place__timeline-lbl">Coalition airstrikes</span>
                        <span class="sy-key-place__control-lbl">Control of territory</span>
                    {{?}}
                    <div class="sy-timeline">
                        {{~l.counts :count}}
                            <span class="sy-timeline__day sy-timeline__day__country is-syria"
                                  style="width: {{=100 / it.countLen}}%; height: {{=count/it.countMax * it.timelineHeight}}px">
                            </span>
                        {{~}}
                        {{~it.labels :label}}
                            <span class="sy-timeline__lbl" style="left: {{=label.pos * 100 / it.countLen}}%">{{=label.month}}</span>
                        {{~}}
                    </div>
                    <div class="sy-control">
                        {{~l.controls :control}}
                            <span class="sy-control__period" style="left: {{=control.pos * 100 / it.countLen}}%">
                                {{~it.controllers: controller}}
                                    {{?control.controllers[controller.id]}}
                                        <div class="sy-control__period__controller is-{{=controller.id}}"
                                             style="height: {{=control.controllers[controller.id] / l.meta.areaCount * 100}}%">
                                        </div>
                                    {{?}}
                                {{~}}
                            </span>
                        {{~}}
                    </div>
                </div>

                <ul class="sy-key-place__controllers">
                    {{~it.controllers :controller}}
                        {{?l.controls[0].controllers[controller.id]}}
                            <li class="sy-key-place__controllers__item is-{{=controller.id}}">{{=controller.name}}</li>
                        {{?}}
                    {{~}}
                </ul>
            </div>
        </li>
    {{~}}
</ul>
<p class="sy-source">
    Airstrikes from
    <a href="http://www.defense.gov/News/Special-Reports/0814_Inherent-Resolve">US Department of Defense</a>,
    territory control from
    <a href="http://www.cartercenter.org/SyriaMappingProject">The Carter Centre</a>
    using Palantir Technologies based on a 25 mile radius around each city
</p>
