<div class="interactive-container">

    <div class="sy-container">
        <div class="sy-main">
            <h2 class="sy-header">{{=it.copy.dashboardHeader}}</h2>
            <p class="sy-copy">{{=it.copy.dashboardCopy}}</p>
            <div class="sy-dashboard">
                <img class="sy-dashboard__bg" src="{{=it.assetPath}}data-out/dashboard/bg.png" />
                <canvas class="sy-dashboard__locations js-dashboard-locations" width="650" height="500"></canvas>
                <canvas class="sy-dashboard__strikes js-dashboard-strikes" width="650" height="500"></canvas>
            </div>
        </div>
        <div class="sy-timeline js-timeline">
            <span class="sy-timeline__window js-timeline-window" style="width:{{=100 / it.counts.length * 7}}%"></span>
            {{~it.counts :count:i}}
                <span class="sy-timeline__day" style="width: {{=100 / it.counts.length}}%; height: {{=count/it.countMax * 100}}%"></span>
            {{~}}
        </div>
    </div>

    <div class="sy-container">
        <div class="sy-main">
            <h2 class="sy-header">{{=it.copy.pastHeader}}</h2>
            <p class="sy-copy">{{=it.copy.pastCopy}}</p>
        </div>

        {{~it.past :p:i}}
        <div class="sy-past">
            <h3 class="sy-subheader">{{=p.header}}</h3>
            <div class="sy-past__imgs">
                <div class="sy-past__img-container sy-past__img-container--airstrike">
                    <img src="{{=it.assetPath}}data-out/historical/{{=p.id}}-airstrikes.png">
                    <div class="sy-past__img-key">
                        <i class="sy-past__img-key__asterisk"></i>
                        Airstrikes
                    </div>
                </div>
                <div class="sy-past__img-container sy-past__img-container--territory">
                    <img src="{{=it.assetPath}}data-out/historical/{{=p.id}}-territory.png">
                    <div class="sy-past__img-key">
                        <div><i class="sy-past__img-key__losses"></i> Lost control</div>
                        <div><i class="sy-past__img-key__gains"></i> Gained control</div>
                    </div>
                </div>

            </div>
            <p class="sy-copy">{{=p.copy}}</p>
        </div>
        {{~}}
    </div>

</div>
