<hr class="sy-divider" />
<div class="sy-container">
    <h2 class="sy-header">{{=it.past.headline}}</h2>

    <div class="js-keyplaces" style="position: relative"></div>

    <h3 class="sy-subheader">{{=it.past.sectionheader}}</h3>
    <p class="sy-copy sy-copy--intro">{{=it.past.sectioncopy}}</p>
    <ul class="sy-pasts">
        {{~it.past.sections :section:i}}
            <li class="sy-past">
                <div class="sy-past__text">
                    <h4 class="sy-past__headline">{{=section.headline}}</h4>
                    <ul class="sy-calendars">
                        {{~section.calendar :calendar:j}}
                            <li class="sy-calendar">
                                <span class="sy-calendar__year">{{=calendar.year}}</span>
                                {{~calendar.months: month}}
                                    <span class="sy-calendar__month {{?month.active}}is-active{{?}}" title="{{=month.name}}">
                                        <span>{{?month.label}}{{=month.name}}{{?}}</span>
                                    </span>
                                {{~}}
                            </li>
                        {{~}}
                    </ul>
                    <p class="sy-copy sy-past__copy">{{=section.copy}}</p>
                </div>
                <div class="sy-past__imgs">
                    <div class="sy-past__img-container sy-past__img-container--airstrike">
                        <div class="sy-past__img-key">
                            <b>Airstrikes</b>
                            <span><img src="{{=it.assetPath}}src/img/airstrike-coalition.png" /> Coalition</span>
                            {{?i > 2}}
                                <span><img src="{{=it.assetPath}}src/img/airstrike-russia.png" /> Russian</span>
                            {{?}}
                        </div>
                        <div class="sy-map">
                            <img src="{{=it.assetPath}}data-out/historical/{{=section.end}}-airstrikes.png">
                            {{~section.labels :l}}
                                <span class="sy-map__lbl"
                                      style="top: {{=l.coord[1]}}%; {{=l.anchor}}: {{=l.coord[0]}}%">
                                    {{=l.name}}
                                </span>
                            {{~}}
                        </div>
                    </div>
                    <div class="sy-past__img-container sy-past__img-container--territory">
                        <div class="sy-past__img-key">
                            <b>Isis control</b>
                            <span><i class="sy-past__img-key__held"></i> Held</span>
                            <span><i class="sy-past__img-key__losses"></i> Lost</span>
                            <span><i class="sy-past__img-key__gains"></i> Gained</span>
                        </div>
                        <div class="sy-map">
                            <img src="{{=it.assetPath}}data-out/historical/{{=section.end}}-territory.png">
                            {{~section.labels :l}}
                                <span class="sy-map__lbl"
                                      style="top: {{=l.coord[1]}}%; {{=l.anchor}}: {{=l.coord[0]}}%">
                                    {{=l.name}}
                                </span>
                            {{~}}
                        </div>
                    </div>
                </div>
            </li>
        {{~}}
    </ul>
    <p class="sy-source">
        Data from <a href="http://www.cartercenter.org/SyriaMappingProject">The Carter Center</a>
        using Palantir Technologies
    </p>
</div>
