<div class="sy-container sy-main sy-container--divider">
    <h2 class="sy-header">{{=it.past.headline}}</h2>
    <p class="sy-copy">{{=it.past.copy}}</p>

    <ul class="sy-pasts">
        {{~it.past.sections :section:i}}
            <li class="sy-past">
                <div class="sy-past__text">
                    <h3 class="sy-past__headline">{{=section.headline}}</h3>
                    <h4 class="sy-past__subheadline">{{=section.subheadline}}</h4>
                    <p class="sy-copy sy-past__copy">{{=section.copy}}</p>
                </div>
                <div class="sy-past__imgs">
                    <div class="sy-past__img-container sy-past__img-container--airstrike">
                        <div class="sy-map">
                            <img src="{{=it.assetPath}}data-out/historical/{{=section.id}}-airstrikes.png">
                            {{~section.labels :l}}
                                <span class="sy-map__lbl"
                                      style="top: {{=l.coord[1]}}%; {{=l.anchor}}: {{=l.coord[0]}}%">
                                    {{=l.name}}
                                </span>
                            {{~}}
                        </div>
                        <div class="sy-past__img-key">
                            <div><img src="{{=it.assetPath}}src/img/airstrike-coalition.png" /> Coalition airstrikes</div>
                            {{?i > 2}}
                                <div><img src="{{=it.assetPath}}src/img/airstrike-russia.png" /> Russian airstrikes</div>
                            {{?}}
                        </div>
                    </div>
                    <div class="sy-past__img-container sy-past__img-container--territory">
                        <div class="sy-map">
                            <img src="{{=it.assetPath}}data-out/historical/{{=section.id}}-territory.png">
                            {{~section.labels :l}}
                                <span class="sy-map__lbl"
                                      style="top: {{=l.coord[1]}}%; {{=l.anchor}}: {{=l.coord[0]}}%">
                                    {{=l.name}}
                                </span>
                            {{~}}
                        </div>
                        <div class="sy-past__img-key">
                            <div><i class="sy-past__img-key__losses"></i> Lost control</div>
                            <div><i class="sy-past__img-key__gains"></i> Gained control</div>
                        </div>
                    </div>
                </div>
            </li>
        {{~}}
    </ul>
</div>
