<div class="sy-container sy-main">
    <h2 class="sy-header">Longest running bombing campaigns</h2>

    <ul class="sy-top5-list">
        {{~it.locations :location}}
            <li>
                <div class="sy-map sy-top5-map">
                    <img src="{{=it.assetPath}}data-out/top5/syria.png">
                    {{~it.locations :l}}
                        <span class="sy-map__lbl {{?l.meta.name !== location.meta.name}}sy-map__lbl--faded{{?}}"
                              style="top: {{=l.meta.coord[1]}}%; {{=l.meta.anchor}}: {{=l.meta.coord[0]}}%">
                        </span>
                    {{~}}
                </div>

                <h3 class="sy-top5-place">{{=location.meta.name}}</h3>

                <div class="sy-timeline">
                    {{~location.counts :count}}
                        <span class="sy-timeline__day sy-timeline__day__country is-syria"
                              style="width: {{=100 / it.countLen}}%; height: {{=count/it.countMax * it.timelineHeight}}px">
                        </span>
                    {{~}}
                </div>
            </li>
        {{~}}
    </ul>
</div>
