<div class="sy-container sy-main">
    <h2 class="sy-header"></h2>

    <ul class="sy-top5-places">
        {{~it.locations :l}}
            <li class="sy-top5-place">
                <!--<div class="sy-map sy-top5-map">
                    <img src="{{=it.assetPath}}data-out/top5/syria.png">
                    {{~it.locations :l2}}
                        <span class="sy-map__lbl {{?l.meta.name !== l2.meta.name}}sy-map__lbl--faded{{?}}"
                              style="top: {{=l2.meta.coord[1]}}%; left: {{=l2.meta.coord[0]}}%">
                        </span>
                    {{~}}
                </div>-->

                <div class="sy-top5-main">
                    <h3 class="sy-top5-place__name">{{=l.meta.name}}</h3>

                    <div class="sy-timeline">
                        {{~l.counts :count}}
                            <span class="sy-timeline__day sy-timeline__day__country is-syria"
                                  style="width: {{=100 / it.countLen}}%; height: {{=count/it.countMax * it.timelineHeight}}px">
                            </span>
                        {{~}}
                    </div>
                    <div class="sy-control">
                        {{~l.controls :control}}
                            <span class="sy-control__period" style="left: {{=control.pos * 100 / it.countLen}}%">
                                {{~control.controllers: controller}}
                                    <div class="sy-control__period__controller is-{{=controller.name}}"
                                         style="height: {{=controller.count / l.meta.areaCount * 100}}%">
                                     </div>
                                {{~}}
                            </span>
                        {{~}}
                    </div>
                </div>
            </li>
        {{~}}
    </ul>
</div>
