<div class="sy-container sy-main sy-container--divider">
    <h2 class="sy-header">Some sort of title</h2>
    <p class="sy-copy">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis nec arcu varius, vehicula risus nec, pharetra magna. Aliquam a imperdiet velit, eu molestie sem. Integer ut nulla ac orci facilisis accumsan et et tortor. Aliquam scelerisque felis ac ante elementum tempus.
    </p>

    <ul class="sy-top5-places">
        {{~it.locations :l}}
            <li class="sy-top5-place">
                <!--<div class="sy-map sy-top5-map">
                    <img src="{{=it.assetPath}}data-out/top5/syria.png">
                    {{~it.locations :l2}}
                        <span class="sy-map__lbl {{?l.meta.name !== l2.meta.name}}sy-map__lbl--faded{{?}}"
                              style="top: {{=l2.meta.coord[1]}}%; left: {{=l2.meta.coord[0]}}%">
                        </span>
                    {{~}}
                </div>-->

                <div class="sy-top5-main">
                    <h3 class="sy-top5-place__name">{{=l.meta.name}}</h3>

                    <div class="sy-timeline sy-top5-place__timeline">
                        {{~l.counts :count}}
                            <span class="sy-timeline__day sy-timeline__day__country is-syria"
                                  style="width: {{=100 / it.countLen}}%; height: {{=count/it.countMax * it.timelineHeight}}px">
                            </span>
                        {{~}}
                    </div>
                    <div class="sy-control">
                        {{~l.controls :control}}
                            <span class="sy-control__period" style="left: {{=control.pos * 100 / it.countLen}}%">
                                {{~control.controllers: controller}}
                                    <div class="sy-control__period__controller is-{{=controller.name}}"
                                         style="height: {{=controller.count / l.meta.areaCount * 100}}%">
                                     </div>
                                {{~}}
                            </span>
                        {{~}}
                    </div>
                    <div class="sy-timeline-labels">
                        {{~it.labels :label}}
                            <span class="sy-timeline-labels__lbl" style="left: {{=label.pos * 100 / it.countLen}}%">{{=label.month}}</span>
                        {{~}}
                    </div>
                </div>
            </li>
        {{~}}
    </ul>
</div>
