$control-h: 40px;

.sy-key-places {
    list-style: none;
    margin: 0;
    padding: 0;
}

.sy-key-place {
    clear: left;
    margin-top: 12px;
    padding-top: 12px;
    border-top: 1px solid #f1f1f1;
    &:first-child {
        padding-top: 0;
        border-top: 0;
    }
}

.sy-key-map {
    float: right;
    margin-left: 10px;

    width: 120px;
    @include mq(tablet) {
        width: 160px;
    }

    @include mq(desktop) {
        position: absolute;
        right: 0;
    }
}

.sy-key-place__text {
    max-width: 660px;

    @include mq(desktop) {
        float: left;
        width: 300px;
        margin-right: 20px;
    }
}

.sy-key-place__main {
    overflow: hidden;
}

.sy-key-place__name {
    @include fs-header(2);
    margin: 0;
    clear: right;
    @include mq(tablet) {
        clear: none;
    }
}

.sy-key-place__timeline {
    position: relative;

    @include mq(tablet) {
        display: inline-block;
        vertical-align: bottom;
        width: 360px;
    }

    .sy-timeline {
        padding-bottom: ($control-h + $timeline-lbl + 5px);
    }
}

.sy-key-place__timeline-lbl,
.sy-key-place__control-lbl {
    @include fs-textSans(2);
    line-height: 16px;
    font-weight: bold;
    z-index: 2;
    position: absolute;
    left: 3px;
}

.sy-key-place__timeline-lbl {
    background-color: transparentize(white, 0.2);
    color: #333;
    top: 0;
    @include mq(desktop) {
        top: 6px;
    }
}

.sy-key-place__control-lbl {
    color: white;
    bottom: 0;
    @include mq(tablet) {
        bottom: $timeline-lbl;
    }
}

.sy-key-place__controllers {
    position: relative;
    @include fs-textSans(2);
    color: #767676;
    list-style: none;
    margin: 0;
    padding: 10px 0 0 0;

    @include mq(tablet) {
        line-height: 16px;
        vertical-align: bottom;
        display: inline-block;
        padding: 0 0 ($timeline-lbl + 4px) 5px;
        height: $control-h;

        &::before {
            display: none;
        }
    }
}

.sy-key-place__controllers__item {
    display: inline-block;
    margin-right: 10px;
    white-space: nowrap;

    @include mq(tablet) {
        display: block;
        margin-right: 0;
    }

    &::before {
        content: "";
        display: inline-block;
        margin-right: 5px;
        width: 7px;
        height: 7px;
        border-radius: 100px;
    }

    @each $controller, $color in $controller-colors {
        &.is-#{$controller}::before {
            background-color: $color;
        }
    }
}

.sy-control {
    position: relative;
    height: $control-h;
    overflow: hidden;
    margin-top: -($control-h + $timeline-lbl);
    margin-bottom: $timeline-lbl;
}

.sy-control__period {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
}

.sy-control__period__controller {
    @each $controller, $color in $controller-colors {
        &.is-#{$controller} {
            background-color: $color;
        }
    }
}
