.sy-pasts {
    list-style: none;
    margin: 0;
    padding: 0;
}

.sy-past {
    margin-top: 12px;
    padding-top: 12px;
    @include mq(desktop) {
        border-top: 1px solid #f1f1f1;
    }

    &::after {
        content: "";
        display: block;
        clear: both;
    }
}

.sy-past__text {
    max-width: 660px;

    @include mq(desktop) {
        float: left;
        max-width: 300px;
        margin-right: 20px;
    }
}

.sy-past__header {
    @include fs-header(2);
    font-weight: 600;
    margin: 0 0 6px;
}

.sy-past__imgs {
    white-space: nowrap;
    font-size: 0;
    max-width: 660px;

    @include mq(desktop) {
        overflow: hidden;
    }

}

.sy-past__map {
    position: relative;
    max-width: 300px;

    img {
        display: block;
        width: 100%;
    }
}

.sy-past__map__lbl {
    @include fs-textSans(1);
    color: #333;
    position: absolute;
    line-height: 0;
    white-space: nowrap;
    opacity: 0.7;

    &::before {
        content: "";
        display: inline-block;
        vertical-align: middle;
        width: 4px;
        height: 4px;
        background-color: #333;
        border-radius: 100px;
    }
}

.sy-past__img-container {
    width: 50%;
    display: inline-block;
    vertical-align: top;
}

.sy-past__img-key {
    @include fs-textSans(2);
    color: #767676;
    margin: 6px 0 0 18px;
}

.sy-past__img-key__asterisk {
    width: 15px;
    height: 16px;
    display: inline-block;
    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA8AAAAQCAMAAAD+iNU2AAAABGdBTUEAALGPC/xhBQAAAAFzUkdCAK7OHOkAAAAMUExURbghZrgiZrolargiZculuYIAAAAEdFJOU6b7AUuaFxUrAAAAQklEQVQI15WPQQ4AIAjDOvf/P6toSNCDkQN0hAygRSA2vLRx6sGgiawksDSLFni0AyK8/QhF+ldd50+/a99xz+c/Ha/0AV++coeXAAAAAElFTkSuQmCC);
    margin-right: 2px;
    vertical-align: middle;
    margin-top: -4px;
}

.sy-past__img-key__gains,
.sy-past__img-key__losses {
    width: 7px;
    height: 7px;
    display: inline-block;
    vertical-align: middle;
    margin: -2px 3px 0 0;
    border-radius: 100px;
}
.sy-past__img-key__gains {
    background-color: #29619a;
}

.sy-past__img-key__losses {
    background-color: #d22e0a;
}
