.sy-pasts {
    list-style: none;
    margin: 0;
    padding: 0;
}

.sy-past {
    margin-top: 12px;
    padding-top: 12px;
    border-top: 1px solid #f1f1f1;

    &::after {
        content: "";
        display: block;
        clear: both;
    }
}

.sy-past__text {
    max-width: 660px;

    @include mq(desktop) {
        float: left;
        width: 300px;
        margin-right: 20px;
    }
}

.sy-past__headline {
    @include fs-header(2);
    margin: 0;
}

.sy-past__subheadline {
    @include fs-header(2);
    color: #767676;
    margin: 0 0 6px;
}

.sy-past__imgs {
    white-space: nowrap;
    font-size: 0;
    max-width: 660px;
    overflow: hidden;
}

.sy-past__img-container {
    width: 50%;
    display: inline-block;
    vertical-align: top;
}

.sy-past__img-key {
    @include fs-textSans(2);
    color: #767676;
    margin: 6px 0 0;
    @include mq(tablet) {
        margin-left: 18px;
    }
}

.sy-past__img-key__asterisk {
    width: 15px;
    height: 16px;
    display: inline-block;
    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA8AAAAQCAMAAAD+iNU2AAAABGdBTUEAALGPC/xhBQAAAAFzUkdCAK7OHOkAAAAMUExURbghZrgiZrolargiZculuYIAAAAEdFJOU6b7AUuaFxUrAAAAQklEQVQI15WPQQ4AIAjDOvf/P6toSNCDkQN0hAygRSA2vLRx6sGgiawksDSLFni0AyK8/QhF+ldd50+/a99xz+c/Ha/0AV++coeXAAAAAElFTkSuQmCC);
    margin-right: 2px;
    vertical-align: middle;
    margin-top: -4px;
}

.sy-past__img-key__gains,
.sy-past__img-key__losses {
    width: 7px;
    height: 7px;
    display: inline-block;
    vertical-align: middle;
    margin: -2px 3px 0 0;
    border-radius: 100px;
}
.sy-past__img-key__gains {
    background-color: #29619a;
}

.sy-past__img-key__losses {
    background-color: #d22e0a;
}
