.sy-timeline {
    position: relative;
    font-size: 0;
    overflow: hidden;
    height: $timeline-h;
    padding-bottom: $timeline-lbl;
    &.sy-timeline--interactive {
        cursor: pointer;
    }

    &::before {
        content: "";
        display: inline-block;
        vertical-align: bottom;
        height: 100%;
    }
}

.sy-timeline__day {
    display: inline-block;
    vertical-align: bottom;
    pointer-events: none;
}

.sy-timeline__day__country {
    @each $country, $color in $country-colors {
        &.is-#{$country} {
            background-color: $color;
        }
    }
}

@-webkit-keyframes pulse-arrows {
    0% { padding: 0 0; }
    50% { padding: 0 5px; }
    100% { padding: 0 0; }
}

@keyframes pulse-arrows {
    0% { padding: 0 0; }
    50% { padding: 0 5px; }
    100% { padding: 0 0; }
}

.sy-timeline__window {
    $border: 2px;

    position: absolute;
    top: 0;
    right: 0;
    bottom: $timeline-lbl;
    box-sizing: border-box;
    cursor: col-resize;

    border-left: $border solid transparentize(#333, 0.4);
    border-right: $border solid transparentize(#333, 0.4);

    &::before,
    &::after {
        position: absolute;
        top: 0;
        height: 100%;
        background-color: transparentize(white, 0.2);
        width: 800px;
        font-size: 30px;
        line-height: $timeline-h;
        -webkit-animation: pulse-arrows 1s infinite;
        animation: pulse-arrows 1s infinite;
        pointer-events: none;
    }

    &::before {
        content: "\2190";
        text-align: right;
        right: 100%;
        margin-right: $border;
    }
    &::after {
        content: "\2192";
        left: 100%;
        margin-left: $border;
    }
}

.sy-timeline__lbl {
    @include fs-textSans(1);
    position: absolute;
    z-index: 1;
    top: 0;
    height: 100%;
    box-sizing: border-box;
    padding: 0 0 3px 2px;
    border-left: 1px dotted #999;
    color: #999;

    &::before {
        content: "";
        display: inline-block;
        height: 100%;
    }
}
