@import "fonts";
@import "mq";
@import "general";
@import "share";

.interactive-container {
    @include fs-bodyCopy(2);
    color: #333;
    overflow: hidden;
}

.sy-container {
    margin-bottom: 48px;
    border-top: 1px solid #bdbdbd;
    &:first-child {
        border-top: 0;
    }

    &::after {
        content: "";
        display: block;
        clear: both;
    }
}

.sy-main {
    margin-bottom: 48px;

    @include mq(leftCol) {
        padding-left: 160px;
    }
    @include mq(wide) {
        padding-left: 240px;
    }
}

.sy-header {
    @include f-header;
    font-size: 30px;
    line-height: 34px;
    font-weight: 500;
    margin: 36px 0 12px;
}

.sy-subheader {
    @include f-header;
    font-weight: 500;
    font-size: 22px;
    line-height: 28px;
    margin: 3px 0 12px;
}

.sy-copy {
    margin: 12px 0;
    max-width: 640px;
}

.sy-dashboard {
    margin: 0 auto;
    max-width: 650px;
}

.sy-dashboard__bg,
.sy-dashboard__strikes {
    display: block;
    width: 100%;
}

.sy-dashboard__strikes {
    margin-top: -76.9%;
}

.sy-past {
    box-sizing: border-box;
    border-top: 1px solid #dfdfdf;
    margin-bottom: 36px;

    @include mq(desktop) {
        float: left;
        width: calc(50% - 10px);
        &:nth-child(2n) {
            margin-right: 20px;
            clear: both;
        }
    }
}

.sy-past__copy {
    color: #767676;
}

.sy-past__imgs {
    white-space: nowrap;
    img {
        display: block;
        margin: 0 auto;
        max-width: 300px;
        width: 100%;
    }
}
.sy-past__img-container {
    width: 50%;
    display: inline-block;
    vertical-align: top;
}

.sy-past__img-key {
    @include f-textSans;
    font-size: 16px;
    line-height: 20px;
    color: #767676;
    margin-left: 18px;
    margin-top: 12px;
}

.sy-past__img-key__asterisk {
    width: 15px;
    height: 16px;
    display: inline-block;
    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA8AAAAQCAMAAAD+iNU2AAAABGdBTUEAALGPC/xhBQAAAAFzUkdCAK7OHOkAAAAMUExURbghZrgiZrolargiZculuYIAAAAEdFJOU6b7AUuaFxUrAAAAQklEQVQI15WPQQ4AIAjDOvf/P6toSNCDkQN0hAygRSA2vLRx6sGgiawksDSLFni0AyK8/QhF+ldd50+/a99xz+c/Ha/0AV++coeXAAAAAElFTkSuQmCC);
    margin-right: 2px;
    vertical-align: middle;
    margin-top: -4px;
}

.sy-past__img-key__gains,
.sy-past__img-key__losses {
    width: 12px;
    height: 12px;
    display: inline-block;
    border-radius: 100px;
}
.sy-past__img-key__gains {
    background-color: #005685;
}

.sy-past__img-key__losses {
    background-color: #dc4b72;
}
