@import "fonts";
@import "mq";

body {
    padding: 0;
    margin: 0;
    @include fs-bodyCopy(2);
    color: #333;
}

// Link styles don't exist on the app
a {
    &,
    &:hover,
    &:active {
        color: #005689;
    }

    text-decoration: none;
    &:hover {
        text-decoration: underline;
    }
}

p {
    margin: 0 0 8px;
}

.sy-container {
    margin-bottom: 48px;

    &.sy-container--divider {
        border-top: 1px solid #bdbdbd;
        padding-top: 24px;
    }

    &::after {
        content: "";
        display: block;
        clear: both;
    }
}

.sy-main {
    margin-bottom: 48px;

    @include mq(leftCol) {
        padding-left: 160px;
    }
    @include mq(wide) {
        padding-left: 240px;
    }
}

.sy-header {
    @include fs-headline(5);

    font-weight: 500;
    margin: 0 0 12px;

    @include mq(tablet) {
        @include fs-headline(6, $size-only: true);
    }

}

.sy-copy {
    max-width: 660px;
}

@import "past";
@import "dashboard";
