@import "fonts";
@import "mq";

$timeline-h: 60px;
$timeline-lbl: 16px;

$country-colors: (
    syria: #83003c,
    iraq: #d37da3
);

$controller-colors: (
    islamic-state: #78b6dd,
    kurds: #b3d682,
    government: #eeb1b9
);

body {
    padding: 0;
    margin: 0;
    @include fs-bodyCopy(2);
    color: #333;
}

// Link styles don't exist on the app
a {
    &,
    &:hover,
    &:active {
        color: #005689;
    }

    text-decoration: none;
    &:hover {
        text-decoration: underline;
    }
}

p {
    margin: 0 0 8px;
}

.sy-container {
    position: relative;
    margin-bottom: 48px;

    &.sy-container--divider {
        border-top: 1px solid #bdbdbd;
        padding-top: 36px;
    }

    &::after {
        content: "";
        display: block;
        clear: both;
    }
}

.sy-main {
    margin-bottom: 48px;

    @include mq(leftCol) {
        padding-left: 160px;
        max-width: 960px;
    }
    @include mq(wide) {
        padding-left: 240px;
    }
}

.sy-header {
    @include fs-headline(5);
    margin: 0 0 12px;

    @include mq(mobileLandscape) {
        @include fs-headline(7, $size-only: true);
    }

}

.sy-subheader {
    @include fs-header(4);
    border-top: 1px solid #dcdcdc;
    padding: 12px 0 0;
    margin:  24px 0 12px;
    @include mq(tablet) {
        @include fs-header(5, $size-only: true);
    }

    &.sy-subheader--top {
        padding: 0;
        border-top: 0;
    }
}

.sy-copy {
    max-width: 660px;

    &.sy-copy--intro {
        margin-bottom: 24px;
    }
}

.sy-source {
    @include fs-textSans(1);
    clear: both;
    color: #bdbdbd;
    margin: 5px 0 0;
    @include mq(tablet) {
        text-align: right;
    }
}

@import "timeline";
@import "map";
@import "past";
@import "dashboard";
@import "key";
